<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.demo.mapper.UserMapper">


    <!--    id 要和 mapper 中声明的方法名一致，返回值类型也要和声明的类型保持一致-->
    <select id="getUsers" resultMap="allUser">
        SELECT * FROM mall.user;
    </select>
    <resultMap id="allUser" type="com.mall.demo.bean.User">
        <id column="uid" property="uid" />
        <result column="username" property="username" />
        <result column="address" property="address" />
        <result column="phone" property="phone" />
        <result column="receiver" property="receiver" />
    </resultMap>
    <select id="getUserByUsername" resultMap="allUser">
        SELECT * FROM mall.user where username=#{username};
    </select>
    <insert id="addUser" parameterType="java.lang.String" useGeneratedKeys="true">
        insert into mall.user(username) values(#{username})
    </insert>
    <update id="setInfo">
        update mall.user set address=#{address}, phone=#{phone}, receiver=#{receiver} where username=#{username};
    </update>
    <select id="getUserInfo" resultType="com.mall.demo.bean.User">
        SELECT * FROM mall.user where username=#{username};
    </select>

</mapper>